<div class="container p-2">
  <div class="container p-2">
    <div class="container p-2 text-center ">
    <%if @user.profile_picture.attached?%>
      <%= image_tag @user.profile_picture, alt: 'profile_picture', id: 'profile_picture'%>
    <%else%>
      <p>=== Ajoute une photo de profile ! ===</p>
      <%end%>
  </div>

    <ul class="list-group p-2">
      <%= link_to "Editer mes identifiants", edit_user_registration_path(@user), :class => "btn btn-primary" %>
      <li class="list-group-item">Nom : <%=@user.first_name%></li>
      <li class="list-group-item">Prénom : <%=@user.last_name%></li>
      <li class="list-group-item">Email : <%=@user.email%></li>
      <li class="list-group-item">Description : <%=@user.description%></li>
      <%= link_to "Editer mes informations", edit_user_path(@user), :class => "btn btn-primary" %>
    </ul>
  </div>

  <div class="container text-center">
    <h2>Mes événements créés</h2>
    <div class="row justify-content-center">
    <% @events.each do |event| %>
      <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= event.title %></h5>
          <%if event.validated != true%>
            <p>Evénement pas encore accepté</p>
          <%end%>
          <p class="card-text text-muted"><small><%=event.description%></small></p>
          <%= link_to "Infos de l'événement", event_attendances_path(event.id) , class: "btn btn-primary"%>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
