<div class="container text-center">
  <div class="container">
    <h2 class="p-4"><%= @event.title %></h2>
      <%= image_tag @event.event_picture, alt: 'event picture',class: "img-thumbnail", style: "width: 500px" %>
  </div>
  

  <p><b>Organisateur:</b> <%= @event.event_admin.email %></p>
  <p><b>Ca se passe où ?</b> <%= @event.location%></p>
  <p class="p-2"><b>Description:</b> <%= @event.description %></p>
  <p><b>Ca commence quand ?</b> <%= @event.start_date%> </p>
  <p><b>Ca finit quand ?</b> <%= @end_date_time%> </p>
  <p><b>Son prix:</b> <%= @event.price%> € </p>

  <% if !@event.is_admin?(current_user) && !@event.is_registred?(current_user) %>
      <%= link_to "S'inscrire à l'événement", new_event_attendance_path(@event.id) , class: "btn btn-outline-success"%>
    <% elsif !@event.is_admin?(current_user) && @event.is_registred?(current_user) %>
      <%= link_to "Tu es déjà inscrit", new_event_attendance_path(@event.id) , class: "btn btn-primary"%>
    <% elsif @event.is_admin?(current_user) %>
      <%= link_to "Infos de l'événement", event_attendances_path(@event.id) , class: "btn btn-primary"%>
      <%= link_to "Supprimer l'événement", event_path(@event.id) , class: "btn btn-danger", :method => 'DELETE', :data => {:confirm => "Tu es sûr de vouloir supprimer l'événement?"} %>
  <% end %>

</div>


